.my-page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .bgi {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .header {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: RGBA(0, 100, 148, 1);
    .header-brain {
      font-size: 60px;
    }
    .header-rank {
      font-size: 80px;
    }
  }
  .rank {
    height: 1334px;
    background-color: #fff;
    border-radius: 3% 3% 0 0;
    font-size: 29px;
    .my-rank {
      height: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: rgba(1, 135, 249, 1);
      margin-top: 10px;
      padding: 10px;
      box-shadow: 0px 3px 12px 0px rgba(181, 190, 236, 0.3);
      border-radius: 23px;
      .my-rank-score {
        font-size: 37px;
      }
      .my-rank-name {
        color: rgba(34, 34, 34, 1);
      }
      .line {
        color: rgba(245, 245, 245, 1);
      }
      .my-avatar {
        width: 84px;
        height: 84px;
        border-radius: 50%;
      }
    }
    .all-rank {
      margin-top: 33px;
      width: 90%;
      height: 80%;
      padding: 10px 20px;
      margin: 0 auto;
      .title {
        display: flex;
        justify-content: space-between;
        color: rgba(191, 195, 198, 1);
        font-size: 29px;
        margin-bottom: 20px;
      }
      .rank-content {
        display: flex;
        height: 100%;
        overflow-y: auto;
        flex-direction: column;
        .cu-item {
          height: 100px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2%;
          .content {
            display: flex;
            align-items: center;
            .cu-avatar.lg {
              width: 87px;
              height: 87px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
