.rank-index {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .bgi {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .userImg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .rank-header {
    height: 20%;
  }
  .rank {
    height: 80%;
    border-radius: 5%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px;
    .rank-my {
      display: flex;
    }
    .rank-all {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: aqua;
    }
  }
}
